.auth-container {
  width: 400px;
  
  margin: 0 auto;
}

.auth-container__title {
  margin: 20px 0 0 0;

  text-align: center;
}

.auth-form {
  width: 400px;

  margin: 50px auto;
  padding: 5px;

  border: 1px solid #000;
  border-radius: 7px;
}

.auth-form__label {
  display: block;

  margin: 0 0 10px 0;
}

.auth-form__label:last-child {
  margin: 0;
}

.auth-form__input {
  display: block;

  width: 100%;
  height: 50px;

  padding: 0 7px; 
}

.auth-container__link {
  display: block;

  margin: 10px 0;
}

.auth-form__btn-containet {

}

.auth-form__btn {
  display: block;

  width: 170px;
  height: 40px;

  padding: 0%;

  border: 1px solid #000;
  border-radius: 7px;

  background: none;

  transition: background-color .14s, color .14s;
}

.auth-form__btn:hover {
  background-color: #000;

  color: wheat;

  transition: background-color ,color .14s;
}




