.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  width: 100%;
  height: 50px;

  background-color: rgb(13, 12, 14);
}

.header__nav-container {
}

.header__nav {
}

.header-nav {
}

.header-nav__list {
  color: white;
}

.header-nav-list {
  display: flex;
}

.header-nav-list__item {
  margin: 0 10px 0 0;
}

.header-nav-list__item:last-child {
  margin: 0;
}

.header-nav-list__link {
}

.header__btn-container {
  color: white;
}
.header__btn {
}
